*.log
/src/.DS_Store
/src/.env
/src/.env.backup
/src/.env.production
/src/.phpactor.json
/src/.phpunit.result.cache
/src/.fleet
/src/.idea
/src/.nova
/src/.phpunit.cache
/src/.vagrant
/src/.vscode
/src/.zed
/src/auth.json
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/pail
/src/vendor
/src/vendor/
/deploy/.env
/deploy/configmap.yml
/src/Homestead.json
/src/Homestead.yaml
/src/Thumbs.db
/src/app/storage/
/src/auth.json
/src/bootstrap/compiled.php
/src/node_modules/
/src/npm-debug.log
/src/public/hot
/src/public/storage
/src/public_html/hot
/src/public_html/storage
/src/storage/*.key
/src/yarn-error.log
/src/docker-compose.yml
